<!DOCTYPE html>
<!--
  Warsturdy.github.io

  Journal page
-->
<html>
<head>
  <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16" />

  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <title>Journal | Warsturdy.github.io</title>
  <style>
    .searchForm {
      position: absolute;
      background-color: rgba(255, 255, 255, 1);
      transition: all 0.3s;
      z-index: 99;
      width: 100%;
      opacity: 1;
      margin: 0px;
      box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
    }
    .ds {
    opacity: 0;
     transform: translate(-100%, 0px);
    }
  </style>
</head>
<body>
  <div id="app">
    
    <v-app>
        <v-main>
            <template>
                
                  <v-app-bar
                    color="black"
                    dark
                    dense
                    fixed
                  >
                    <v-app-bar-nav-icon @click="drawer = true"></v-app-bar-nav-icon>
              
                    <v-toolbar-title>warsturdy</v-toolbar-title>
                    <v-spacer></v-spacer>
                    <v-btn icon @click="search = !search">
                      <v-icon>mdi-magnify</v-icon>
                    </v-btn>
                  </v-app-bar>

                  <v-form v-bind:class="{ds: search}" class="searchForm">
                    <v-toolbar dense flat height="200px" >
                     
                     
                      <v-text-field prepend-inner-icon="mdi-magnify" v-model="searchIndex" :items="searchList" attach multiple placeholder="Search for pages, articles, and more..." @input="searchPages" filled clearable dense  style="margin-top:25px;"></v-text-field>
                    
                    <v-btn icon @click="search = !search">
                      <v-icon>mdi-close</v-icon>
                    </v-btn>
                  </v-toolbar>
                    <v-container >
                      
                  <v-list>
                    <v-list-item-group>
                      <v-list-item v-for="(item, i) in searchList">
                        <v-list-item-content>
                          <v-list-item-title v-text="item">

                          </v-list-item-title>
                        </v-list-item-content>
                      </v-list-item>
                    </v-list-item-group>
                   
                  </v-list>
                
              </v-container>
              </v-form>
              
                  <v-navigation-drawer
                    v-model="drawer"
                    absolute
                    temporary
                  >
                    <v-list
                      nav
                      dense
                    >
                      <v-list-item-group
                        v-model="group"
                        active-class="deep-purple--text text--accent-4"
                      >
                      
                        <v-list-item href="index.html">
                          <v-list-item-icon>
                            <v-icon>mdi-home</v-icon>
                          </v-list-item-icon>
                          <v-list-item-title>Home</v-list-item-title>
                        </v-list-item>
              
                        <v-list-item href="showcase.html">
                          <v-list-item-icon>
                            <v-icon>mdi-trophy</v-icon>
                          </v-list-item-icon>
                          <v-list-item-title>Projects</v-list-item-title>
                        </v-list-item>

                        <v-list-item href="journal.html">
                            <v-list-item-icon>
                              <v-icon>mdi-book-search</v-icon>
                            </v-list-item-icon>
                            <v-list-item-title>Journal</v-list-item-title>
                          </v-list-item>

                          <v-list-item href="blog.html">
                            <v-list-item-icon>
                              <v-icon>mdi-newspaper</v-icon>
                            </v-list-item-icon>
                            <v-list-item-title>Blog</v-list-item-title>
                          </v-list-item>

                          <v-list-item href="index.html">
                            <v-list-item-icon>
                              <v-icon>mdi-share</v-icon>
                            </v-list-item-icon>
                            <v-list-item-title>Contact</v-list-item-title>
                          </v-list-item>

                          <v-list-item href="index.html">
                            <v-list-item-icon>
                              <v-icon>mdi-rocket-launch</v-icon>
                            </v-list-item-icon>
                            <v-list-item-title>Donate</v-list-item-title>
                          </v-list-item>
                      </v-list-item-group>
                    </v-list>
                  </v-navigation-drawer>
                

                
              </template>
        
              <div @click="search = true">
            <div class="pa-16 red darken-4 white--text" style="text-align: center;">
                <h1 class="font-weight-normal">Journal</h1>
                <p>Contents: Personal Growth & Development, To-Do List, Projects Timeline.</p>
                <v-btn color="success">Continue</v-btn>
            </div>

            <v-container>
              <div>
                <h4 class="title">Overview</h4>
  
                <p>The <b>Journal</b> page is about my journey towards becoming a better and more experienced computer programmer, web developer and web designer. Created March. 25, 2023.</p>
              </div>

              <h4 class="title">Cards</h4>
              <v-card class="mx-auto" outlined max-width="700">
                <v-card-title>
                    Overview
                </v-card-title>

                <v-card-subtitle>
                    Lorem ipsum doler sit amet.
                </v-card-subtitle>

                <v-card-text>
                  The <b>Journal</b> page is about my journey towards becoming a better and more experienced computer programmer, web developer and web designer.
                </v-card-text>

                <v-card-actions>
                    <v-btn color="primary"><v-icon left>mdi-home</v-icon>Read More</v-btn>
                    <v-spacer></v-spacer>
                    <span color="grey">25/03/23</span>
                </v-card-actions>
            <v-card>
                <v-card class="mx-auto" outlined max-width="700">
                    <v-card-title>
                        Title
                    </v-card-title>
    
                    <v-card-subtitle>
                        Subtitle
                    </v-card-subtitle>
    
                    <v-card-text>
                        This is the main body of this card.
                    </v-card-text>
    
                    <v-card-actions>
                        <v-btn color="primary"><v-icon left>mdi-home</v-icon>Button</v-btn>
                        <v-spacer></v-spacer>
                        <span color="grey">2023</span>
                    </v-card-actions>
                <v-card>
            </v-container>
          </div>
        </v-main>
    </v-app>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script>
  var s = new Vue({
  el: '#app',
  vuetify: new Vuetify(),
  data: {
    search: true,
    searchIndex:"",
    searchList: [
      "files",
      "home",
      "showcase",
    ],
    searchOrigin: [],
    drawer: false,
    tab: null,
      items: [
        'web', 'shopping', 'videos', 'images', 'news',
      ],
  },
  mounted() {
    this.searchOrigin = [...this.searchList];
    this.searchList = [];
  },
  methods: {
    searchPages(i) {
      if (!this.searchIndex) {
        this.searchList = this.searchOrigin;
      }
      this.searchList = this.searchOrigin.filter((e) => {
        return e.toLowerCase().indexOf(this.searchIndex.toLowerCase()) > -1;
      })
      if (this.searchIndex = "") {
        this.searchList = [];
      }
    }
  }
})
  </script>
</body>
</html>